<h3 class="title is-4">HandLink - Conectando você aos melhores profissionais</h3>
<section class="section">
    <div class="container has-text-centered">
        <h4 class="title is-5">Serviços</h4>

        <div class="columns is-centered">
            <div class="column is-3">
                <p>Pedreiro</p>
            </div>
            <div class="column is-3">
                <p>Eletricista</p>
            </div>
            <div class="column is-3">
                <p>Encanador</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h4 class="title is-5">Institucional</h4>

        <div class="columns is-centered">
            <div class="column is-3">
                <p>Sobre o Handlink</p>
            </div>
            <div class="column is-3">
                <p>Oferecer um Serviço</p>
            </div>
            <div class="column is-3">
                <p>Entrar em Contato</p>
            </div>
        </div>
    </div>
</section>

<div class="copyright">
    <p>&copy: 2026 UVV - Vila Velha, ES | Todos os direitos reservados.</p>
</div>